@import url("https://mir-woe.github.io/misc/themes/woe-theme.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* 
    light =  red
    dark = pink

    https://mir-woe.github.io

    will port too betterdiscord when given the opportunity. 
    
    any issues please contact me, you can find methods to contact me on [ https://mir-woe.github.io/dev/profile ]
    or make an issue on the git respo [ https://github.com/mir-woe/PC-WoeMode ]
*/

/* feel free too change the message in the top left corner utilising this */
:root{
    --DiscordName: 'discord'; /* im not very creative */
    --YourMsg:'WoeMode'; /* do not use any spaces */
}
