@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://github.com/mir-woe/PC-WoeMode/blob/main/main.css');

/* 
    light =  red
    dark = pink

    https://mir-woe.github.io

    i am not sure how powercord updater works so shall pray for the best

    will port too betterdiscord when given the opportunity. 
    
    any issues please contact me on:
    discord [ woe#1863 ]
    telegram [ https://mir-woe.github.io/misc/tg.html ]
    or make an issue on the git respo 
*/

/* feel free too change the message in the top left corner utilising this */
:root{
    --DiscordName: 'discord'; /* im not very creative */
    --YourMsg:'WoeMode'; /* do not use any spaces */
}
